@charset "utf-8";
.last {
    width: 100%;
    background-color: #ebebeb;
    position: relative;
    padding-bottom: 60px;
}
.last .content {
    width: 55%;
    margin: 0 auto;
}
.last .ltitle {
    font-size: 54px;
    font-size: 5.4rem;
    color: #000000;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.kinds .kindsone, .kinds .kindstwo {
    width: 48%;
    margin: 0 1%;
}
.kinds .kindsone {
    float: left;
}
.kinds .kindstwo {
    float: right;
}
.step {
    width: 100%;
    height: 133px;
    background-color: #ffffff;
    margin-bottom: 10px;
    font-size: 14px;
    font-size: 1.4rem;
    color: #282828;
    box-sizing: border-box;
}
.step-wrapper {
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: table;
}
.step p {
    display: table-cell;
    vertical-align: middle;
}
.font {
    font-weight: 500;
    text-align: center;
}
.gray {
    background-color: #9b9b9b;
    color: #fff;
    font-size: 20px;
    font-size: 2rem;
}
.gray p {
    text-align: center;
}
.method {
    color: #ffffff;
    font-size: 20px;
    font-size: 2rem;
}
.yellow {
    width: 100%;
    min-height: 133px;
    background-color: #ffae00;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: table;
}
.yellow p {
    display: table-cell;
    vertical-align: middle;
}
.green {
    background-color: #54c715;
    border-radius: 40px;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}
.green b {
    padding-right: 18px;
    background: url("../../images/wechat_service/triangle.png") right center no-repeat;
}
.table-left, .table-right {
    width: 50%;
}
.chat {
    color: #54c715;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 50px;
    text-align: left;
}
@media screen and (max-width: 1024px) {
    .step {
        height: 158px;
    }
}
@media screen and (max-width: 960px) {
    .last .content {
        position: static;
    }
    .last .ltitle {
        margin-left: 0;
        font-size: 38px;
        font-size: 3.8rem;
        color: #000;
        text-align: center;
    }
    .green {
        text-align: center;
    }
    .kinds .kindsone, .kinds .kindstwo {
        width: 49%;
        margin-right: 0;
    }
    .table-left, .table-right {
       width: 100%;
    }
    .table-right {
        margin-top: 20px;
    }
}
@media screen and (max-width: 640px) {
    .kinds .kindsone, .kinds .kindstwo {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 414px) {
    .last .ltitle {
        font-size: 24px;
        font-size: 2.4rem;
        color: #000000;
    }
    .kindsone, .table-right {
        margin-top: 20px;
    }
    .last .ltitle {
        margin-top: 50px;
    }
}
@media screen and (max-width: 320px) {
    .last .ltitle {
        font-size: 18px;
        font-size: 1.8rem;
        color:#000;
    }
    .last .ltitle  {
        margin-top: 20px;
    }
}
