@charset "utf-8";
html {
	height: 100%;
	background: url("../images/bg_glass.png") 0 0 repeat;
}
body {
	height: 100%;
}
.contact_main {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.contact_main {
	background: url("../images/contact_bg.jpg") 0 20px no-repeat;
	background-size: cover;
	height: 100%;
}
.contact_main img {
	width: 100%;
}
/* image */
.contact_img {
	padding-top: 150px;
}
.contact_img li {
	float: left;
	width: 25%;
}
.about_us {
	width: 80%;
	margin: 0 auto;
	text-align: left;
	padding: 30px 10% 100px;
	min-height: 280px;
}
.about_us h2 {
	padding: 10px 5px 25px;
	font-size: 18px;
	font-size: 1.8rem;
	font-family: "NotoSansHansHeavy", "Microsoft YaHei";
}
.about_us li {
	position: relative;
	padding: 0 5px 20px 30px;
}
.about_us li span {
	position: absolute;
	left: 10px;
	top: 4px;
	width: 8px;
	height: 8px;
	background-color: #2192f1;
	border-radius: 100%;
}
.about_us article {
	font-size: 16px;
	font-size: 1.6rem;
	font-family: "NotoSansHansRegular", "Microsoft YaHei";
	line-height: 100%;
}
div.copyright {
	display: none;
}
@media screen and (max-width: 640px) {
	.contact_img {
		padding-top: 100px;
	}
	.contact_img li {
		width: 50%;
	}
}
@media screen and (max-width: 320px) {
	.contact_img li {
		width: 100%;
	}
}
