@charset "utf-8";
@font-face {
    font-family: "fzlt";
    src: url("../font/fzlt.TTF");
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #f6f6f6;
}
.logo-title {
    font-size: 40px;
    font-family: "fzlt", "Microsoft YaHei";
}
.row {
    margin: 0;
}
.text_color {
    color: #28D3C1;
}
#home {
    position: relative;
    height: 780px;
    padding-top: 72px;
    overflow: hidden;
    text-align: center;
    background: url("../images/baichuanhui_img/background.jpg") 0 0 no-repeat;
    background-size: 100% 100%;
    font-family: "fzlt", "Microsoft YaHei";
}
.bg_image {
    position: absolute;
    left: 0;
    top: 0px;
    z-index: -1;
}
#home .background {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    max-height: 700px;
}
#home .content {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding-top: 132px;
}
.downloads {
    margin-top: 55px;
    display: inline-block;
    text-align: center;
}
.downloads .code {
    overflow: hidden;
    padding-left: 30px;
    padding-right: 30px;
    float: left;
}
.download-code, .downloads .button {
    font-size: 16px;
    margin: 0 auto;
}
.download-code {
    width: 115px;
}
.downloads .button {
    margin: 21px auto 0;
    display: block;
    background-color: rgba(36, 221, 201, 0.5);
    border-radius: 10px;
    color: #fff;
}
.button.ios {
    width: 54px;
    padding: 8px 28px;
}
.button.android {
    width: 92px;
    padding: 8px 9px;
}
.downloads .icon_con {
    display: inline-block;
    padding-left: 25px;
    height: 24px;
    line-height: 24px;
}
.downloads .ios_icon {
    background: url("../images/baichuanhui_img/ios_icon.png") 0 0 no-repeat;
}
.downloads .android_icon {
    background: url("../images/baichuanhui_img/android_icon.png") 0 0 no-repeat;
}
.baichuanhui_logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
}
.baichuanhui_though {
    display: block;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.img {
    padding: 50px 0 20px;
}
.parts {
    height: 500px;
    text-align: center;
    overflow: hidden;
    font-family: "NotoSansHansHeavy", "Microsoft YaHei";
}
.first-parts .container {
    background: url("../images/baichuanhui_img/computer.png") 85% center no-repeat;
}
.second-parts .container {
    background: url("../images/baichuanhui_img/platform.png") 27% center no-repeat;
}
.third-parts .container {
    background: url("../images/baichuanhui_img/mobile_news.png") 23% 50px no-repeat;
}
.forth-parts .container {
    background: url("../images/baichuanhui_img/message.png") right center no-repeat;
}
.fifth-parts .container {
    background: url("../images/baichuanhui_img/contacts.png") 46% 47px no-repeat;
}
.sixth-parts .container {
    background: url("../images/baichuanhui_img/activities.png") 60% -194px no-repeat;
}
.forth-parts .text, .sixth-parts .text {
    max-width: 300px;
}
.seventh-parts .container {
    background: url("../images/baichuanhui_img/community.png") 15% center no-repeat;
}
.seventh-parts {
    margin-bottom: 40px;
}
.pull-left, .pull-right {
    height: 100%;
    text-align: center;
    width: 50%;
}
.pull-left img, .pull-left .text-outer, .pull-right {
    float: right;
}
.pull-right img, .pull-right .text-outer, .pull-left {
    float: left;
}
.text-outer {
    height: 100%;
    display: table;
}
.parts .pull-left img, .parts .pull-right img {
    max-width: 100%;
    max-height: 100%
}
.bgcolor {
    background-color: #28d3c1;
    color: #fff;
}
.parts .text_content {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    word-wrap : break-word ;
    white-space:normal;
}
.parts .text_content .text_icon {
    width: 15%;
    float: left;
    margin-right: 10px;
    margin-top: 30px;
}
.parts .text_content .text {
    padding-left: 115px;
    float: left;
    margin: 0 auto;
}
.text_content_title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bolder;
    font-family: "NotoSansHansHeavy", "Microsoft YaHei";
    text-align: left;
}
.text_content_con {
    margin-bottom: 15px;
    line-height: 20px;
    text-align: left;
    font-size: 14px;
    font-family: "NotoSansHansRegular", "Microsoft YaHei";
}
.community, .activities, .contacts, .newsfeed, .message {
    background-position: 10px center;
    background-repeat: no-repeat;
}
.community {
    background-image: url("../images/baichuanhui_img/community_icon.png");
}
.activities {
    background-image: url("../images/baichuanhui_img/activities_icon.png");
}
.contacts {
    background-image: url("../images/baichuanhui_img/contacts_icon.png");;
}
.newsfeed {
    background-image: url("../images/baichuanhui_img/newsfeed_icon.png");
}
.message {
    background-image: url("../images/baichuanhui_img/message_icon.png");
}
.icon-size {
    background-size: 90px;
}
@media screen and (max-width: 1600px) and (min-width: 1367px) {
    .first-parts .pull-left, .second-parts .pull-right, .seventh-parts .pull-right {
        width:  45%;
    }
    .forth-parts .container, .seventh-parts .container {
        margin: 0 8%;
    }
}
@media screen and (max-width: 1366px) and (min-width: 1025px) {
    .first-parts .pull-left, .second-parts .pull-right, .seventh-parts .pull-right {
        width:  40%;
    }
    .forth-parts .container, .seventh-parts .container {
        margin: 0 2%;
    }
    .seventh-parts .container {
        background-position: 5% center;
    }
}
@media screen and (max-width: 1366px) {
    .mobile-text-opacity {
        background-color: rgba(246, 246, 246, 0.9);
    }
    .bgcolor .mobile-text-opacity {
        background-color: rgba(40, 211, 193, 0.9);
    }
}
@media screen and (max-width: 1024px) {
    .pull-left img, .pull-left .text-outer, .pull-right img, .pull-right .text-outer {
        float: none;
    }
    .icon-size {
        background-size: 50px;
    }
    .bg_image {
        height: 890px;
    }
    .parts {
        height: auto;
    }
    .parts .pull-left, .parts .pull-right {
        height: 500px;
        width: 100%;
        text-align: center;
        float: none;
    }
    .text p {
        text-align: left;
    }
    .parts .text_content .text {
        padding-left: 65px;
    }
    .downloads img, .button {
        margin: 0 auto;
    }
    .first-parts .container, .second-parts .container  {
        background-position: center 20px;
        background-size: auto 200px;
    }
    .first-parts div.pull-left, .second-parts div.pull-right {
        height: auto;
    }
    .first-parts div.text-outer, .second-parts div.text-outer {
        width: 100%;
    }
    .first-parts .text_content, .second-parts .text_content {
        padding: 250px 5% 0;
    }
    .third-parts .container {
        background-position: 90% center;
        background-size: 45% auto;
    }
    .forth-parts .container {
        background-position: 90% center;
        background-size: 45%;
    }
    .fifth-parts .container {
        background-position: 95% center;
        background-size: 50%;
    }
    .sixth-parts .container {
        background-image: url("../images/baichuanhui_img/mobile-activities.png");
        background-position: 65% center;
        background-size: 50%;
    }
    .seventh-parts .container {
        background-image: url("../images/baichuanhui_img/mobile-community.png");
        background-position: 58% center;
    }
    .seventh-parts {
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 960px) {
    #home {
        padding-top: 50px;
    }
    #home .content {
        padding-top: 40px;
    }
}
@media screen and (max-width: 480px) {
    #home {
        height: auto;
    }
    .pull-left img, .pull-left .text-outer, .pull-right img, .pull-right .text-outer {
        width: 46%;
    }
    .downloads .code {
        float: none;
        margin-bottom: 10px;
    }
    .downloads {
        margin-top: 30px;
    }
    .parts .pull-left, .parts .pull-right {
        height: 350px;
    }
}
@media screen and (max-width: 320px) {
    .pull-left img, .pull-left .text-outer, .pull-right img, .pull-right .text-outer {
        width: 44%;
    }
}
@media screen and (min-width: 1201px) {
    .container {
        height: 100%;
        overflow: hidden;
        margin: 0 13%;
    }
}
@media screen and (min-width: 1280px) {
    .first-parts .container {
        background-position: 90% center;
    }
}
