@charset "utf-8";
@font-face {
	font-family: "NotoSansHansHeavy";
	src: url("../font/NotoSansHans-Heavy.otf");
}
@font-face {
	font-family: "NotoSansHansRegular";
	src: url("../font/NotoSansHans-Regular.otf");
}
@font-face {
	font-family: "newFont";
	src: url("../font/newFont.ttf");
}
html {
	font-size: 62.5%;
}
body {
	font-size: 16px;
	font-size: 1.6rem;
}
html, body {
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	background-color: #eee;
	-webkit-text-size-adjust: none; /* 禁用iPhone中safari字号自动调整 */
}
body {
	position: relative;
}
/* image auto scale */
img {
	display: block;
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
/* common */
.full-width {
	width: 100%;
}
.align-l {
	text-align: left!important;
}
.align-c {
	text-align: center!important;
}
.align-r {
	text-align: right!important;
}
.font-nsh {
	font-family: "NotoSansHansHeavy", "Microsoft YaHei";
}
.font-nsr {
	font-family: "NotoSansHansRegular", "Microsoft YaHei";
}
.new-font {
	font-family: "newFont", "Microsoft YaHei";
}
.color-w {
	color: #fff;
}
.color-b {
	color: #000;
}
.float-n {
	float: none;
}
.float-l {
	float: left;
}
.float-r {
	float: right;
}
.position-s {
	position: static;
}
.position-r {
	position: relative;
}
.position-a {
	position: absolute;
}
.position-f {
	position: fixed;
}
.hide, .display-n {
	display: none!important;
}
.display-ib {
	display: inline-block;
}
.show, .display-b {
	display: block!important;
}
/* clear float */
.clearfix {
	*zoom: 1;
}
.clearfix:after {
	content: "\200B";
	height: 0;
	clear: both;
	display: block;
}
/* cover screen */
.cover-all {
	z-index: 9000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0,0,0,0.4);
}
/* msg */
.mess {
	display: none;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10001;
}
.msg_cover {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
.msg {
	left: 50%;
	top: 50%;
	width: 250px;
	height: auto;
	margin-left: -135px;
	background-color: #fff;
	border-radius: 15px;
	text-align: center;
	padding: 8px 10px;
}
/* copyrighy */
.copyright, .sub_copyright {
	bottom: 0;
	left: 0;
	padding: 10px 5%;
	width: 90%;
	text-align: center;
	font-size: 12px;
	font-size: 1.2rem;
}
