@charset "utf-8";
body {
    height: 100%;
    background: url("../images/bg_glass.png") 0 0 repeat;
}
.exp_main {
    padding: 100px 11% 40px;
    min-height: 668px;
}
.exp_main h2 {
    font-family: "NotoSansHansRegular", "Microsoft YaHei";
    font-size: 28px;
    font-size: 2.8rem;
    padding: 15px 0;
    border-bottom: 3px solid #d7d7d7;
    color: #646464;
}
.exp_con {
    min-height: 620px;
    padding-top: 40px;
}
.exp_con dt, .exp_con dd {
    float: left;
}
.exp_con dt {
    width: 33%;
    margin-right: 5%;
    text-align: left;
}
.exp_con dt a {
    display: block;
    margin-top: 20px;
    padding-left: 45px;
    min-height: 35px;
    line-height: 35px;
    text-decoration: underline;
    color: #000;
    font-size: 1.4rem;
}
.no-padding {
    padding: 0!important;
}
.to_home_page {
    background: url("../images/link_bg.gif") 0 0 no-repeat;
    background-size: 35px;
}
.download_file {
    background: url("../images/pdf_bg.png") 0 0 no-repeat;
}
.exp_con dd {
    width: 60%;
}
.exp_con dd h3 {
    font-family: "NotoSansHansHeavy", "Microsoft YaHei";
    font-size: 20px;
    font-size: 2rem;
    padding-bottom: 15px;
}
.exp_con article {
    padding-bottom: 33px;
}
.exp_con article p {
    font-family: "NotoSansHansRegular", "Microsoft YaHei";
    padding-top: 20px;
    font-size: 14px;
    font-size: 1.4rem;
}

@media screen and (max-width: 960px) {
    .exp_con dt,.exp_con dd {
        float: none;
        width: 100%;
    }
    .exp_con dd {
        text-align: center;
        margin-top: 50px;
    }
    .exp_con dt img {
        margin: 0 auto;
    }
}
div.copyright {
    padding-bottom: 30px;
    position: relative!important;
}
