@charset "utf-8";
html, body {
	background-color: #ffffff;
	height: 100%;
}
p, h2{
	font-family: "NotoSansHansRegular", "Microsofe YaHei";
}
.copyright {
	position: relative;
}
.wechat-function {
	padding-top: 71px;
	padding-bottom: 50px;
}
.wechat-function-wrapper {
	width: 1200px;
	margin: 0 auto;
}
.wechat-function-title {
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 60px;
	font-size: 6rem;
	text-align: center;
}
.wechat-function-content {
	height: 600px;
	padding: 10px 50px 10px 820px;
	border-bottom: 1px solid #eeeeee;
	background: url("../images/wechat_service/wechat-function.png") 70px bottom no-repeat;
	box-sizing: border-box;
}
.wechat-function-content li {
	margin-bottom: 5px;
	float: left;
	width: 100%;
}
.wechat-function-content p {
	font-size: 12px;
	font-size: 1.2rem;
	padding-left: 14px;
}
.icon {
	float: left;
	width: 14px;
	height: 14px;
	line-height: 14px;
}
@media screen and (max-width: 1366px) {
	.wechat-function-wrapper {
		width: 1024px;
	}
	.wechat-function-content {
		height: 460px;
		padding-left: 640px;
		background-size: 522px 450px;
	}
	.wechat-function-content li {
		margin-bottom: 1px;
	}
}
@media screen and (max-width: 1024px) {
	.wechat-function {
		padding-bottom: 30px;
	}
	.wechat-function-wrapper {
		width: 100%;
	}
	.wechat-function-content {
		height: 375px;
		padding-left: 540px;
		background-size: 435px 375px;
	}
	.wechat-function-content li {
		width: 49%;
		float: left;
		margin-right: 1%;
	}
}
@media screen and (max-width: 959px) {
	.wechat-function-content {
		padding: 380px 10px 20px;
	}
	.wechat-function-content {
		height: auto;
		background-position: center top;
	}
	.wechat-function-content ul {
		width: 435px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 640px) {
	.wechat-function {
		padding-top: 42px;
	}
}
@media screen and (max-width: 414px) {
	.wechat-function-title {
		font-size: 32px;
		font-size: 3.2rem;
	}
	.wechat-function {
		padding-top: 48px;
	}
	.wechat-function-content {
		padding-top: 310px;
		background-size: 348px 300px;
	}
	.wechat-function-content ul {
		width: 100%;
	}
}
@media screen and (max-width: 320px) {
	.wechat-function {
		padding-top: 42px;
	}
	.wechat-function-content {
		padding-top: 250px;
		background-size: 261px 225px;
	}
}
