@charset "utf-8";
html, body {
	background-color: #ffffff;
}
p, h2 {
	font-family: "NotoSansHansRegular", "Microsofe YaHei";
}
.wechat-app {
	margin: 71px auto 0;
}
.wechat-app-content {
	margin: 10% auto;
	padding-top: 220px;
	width: 60%;
	background: url("../images/wechat_service/wechat-app-icon.png") 0 0 no-repeat;
}
.wechat-title {
	margin-bottom: 40px;
	color: #000000;
	font-size: 54px;
	font-size: 5.4rem;
}
.wechat-content {
	margin-bottom: 20px;
	color: #333333;
	font-size: 14px;
	font-size: 1.4rem;
}
@media screen and (max-width: 640px) {
	.wechat-app-content {
		width: 80%;
	}
}
@media screen and (max-width: 414px) {
	.wechat-title {
		font-size: 30px;
		font-size: 3rem;
	}
	.wechat-app-content {
		width: 95%;
		margin-bottom: 15%;
	}
}
