@charset "utf-8";
@font-face {
    font-family: "fzlt";
    src: url("../font/fzlt.TTF");
}
body {
    padding: 0;
    margin: 0;
    color: #ffffff;
    background-color: #ffffff;
    font-family: "NotoSansHansRegular", "Microsoft YaHei";
}
img {
    max-width: 100%;
    max-height: 100%;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.text-left {
    text-align: left;
}
.container {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}
#home h1 {
    margin-top: 78px;
    font-size: 38px;
    font-size: 3.8rem;
    font-family: "fzlt", "Microsoft YaHei";
}
.container h2 {
    padding: 20px;
    margin-bottom: 20px;
    font-size: 38px;
    font-size: 3.8rem;
    font-family: "fzlt", "Microsoft YaHei";
    font-weight: bolder;
}
article p, .solution-tip p {
    line-height: 25px;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "NotoSansHansRegular", "Microsoft YaHei";
}
section {
    padding: 20px 20%;
}
#business-bg h2, #solution h2, #four-solutions h2 {
    color: #519bda;
}
.tool {
    background: url("../images/zgxcw/tool.png") no-repeat 50% 50%;
}
.mobile {
    background: url("../images/zgxcw/mobile.png") no-repeat 50% 50%;
}
.arrow {
    background: url("../images/zgxcw/arrow.png") no-repeat 50% 50%;
}
.shop-car {
    background: url("../images/zgxcw/shop-car.png") no-repeat 50% 50%;
}
/* common */
.title-bg-black {
    background: url("../images/zgxcw/title-bg-black.png") center bottom no-repeat;
}
.title-bg-white {
    background: url("../images/zgxcw/title-bg-white.png") center bottom no-repeat;
}
/* home */
#home {
    height: 740px;
    background: #519bda url("../images/zgxcw/banner-bg.jpg") no-repeat 0 0;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 92px;
}
#home .container {
    background: url("../images/zgxcw/banner-car.png") no-repeat center bottom;
    height: 635px;
    width: 100%;
    padding: 0;
}
#home .home-icons {
    margin: 40px auto;
    width: 51%;
}
#home .home-icons li{
    float: left;
    width: 25%;
    font-size: 14px;
    font-size: 1.4rem;
}
#home .home-icons .icon {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 0 auto;
}
#home .icon-info {
    margin-top: 10px;
}
/* 内容一  business-bg */
#business-bg .business-con li {
    color: #333333;
    margin-bottom: 40px;
}
/*#business-bg .bus-img.pull-left {
    background: url("../images/zgxcw/business-pc-down.png") 0 0 no-repeat;
    background-size: 100%;
}
#business-bg .bus-img.pull-right {
    background: url("../images/zgxcw/business-pc-up.png") 0 0 no-repeat;
    background-size: 100%;
}*/
.business-con img {
    width: 100%;
    height: 100%;
}
#business-bg .bus-text, #business-bg .bus-img {
    width: 48%;
}
#business-bg .pull-left p {
    padding-bottom: 10px;
}
#business-bg .pull-right p {
    padding: 0 0 10px;
}

/* 内容二 helped */
#helped {
    background: url("../images/zgxcw/helped-bg.jpg") 0 0 no-repeat;
    background-size: 100% 100%;
}
#helped .help-text {
    float: left;
    width: 46%;
    margin-bottom: 20px;
}
#helped .help-text:first-child {
    padding-right: 7%;
}
#helped .help-img {
    width: 800px;
    margin: 40px auto;
    position: relative;
    height: 480px;
}
/*#helped .help-img img {
    margin: 0 auto;
}*/
#helped .help-con {
    overflow: hidden;
}
/* 内容三 solution */
#solution .solution-tip p {
    padding: 130px 30px 10px;
    text-align: left;
}
#solution li {
    word-wrap: break-word;
    white-space: normal;
    width: 33.3%;
    float: left;
    color: #333333;
}
#solution .solution-tip-one {
    background: url("../images/zgxcw/target.png") no-repeat 50% 10px;
}
#solution .solution-tip-two {
    background: url("../images/zgxcw/earth.png") no-repeat 50% 10px;
}
#solution .solution-tip-three {
    background: url("../images/zgxcw/cloud.png") no-repeat 50% 10px;
}
/* solution content */
#four-solutions {
    padding-bottom: 4px;
    background: #f8f8f8 url("../images/zgxcw/solution/bottom-banner.png") 0 bottom no-repeat;
    background-size: 100% auto;
}
.solution-content {
    margin: 0 auto 60px;
    width: 48%;
}
.solution-content-left, .solution-one, .solution-three {
    float: left;
}
.solution-content-right, .solution-two, .solution-four {
    float: right;
}
.solution-list {
    width: 46%;
}
.solution-list span, .solution-list img {
    display: block;
}
.solution-list img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.solution-list span {
    color: #000000;
    text-align: left;
    font-family: "NotoSansHansRegular", "Microsoft YaHei";
}
.ceo-logo span {
    font-family: "NotoSansHansRegular", "Microsoft YaHei";
}
.solution-list i {
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 4px;
    margin-right: 15px;
    background-color: #3a89cc;
}
.solution-content .inno-img, .solution-content .inno-text {
    height: 50%;
    overflow: hidden;
    line-height: 240px;
}
.inno-text {
    font-size: 16px;
    font-size: 1.6rem;
}
/**/
#achieved {
    background: #091c22 url("../images/zgxcw/achieve-bg.png") 0 0 no-repeat;
    background-size: 100% 100%;
}
#achieved .achieved-img {
    margin-top: 40px;
}
#achieved .achieved-img img {
    margin: 0 auto;
}
#wechat-introduce {
    background-color: #4c9ddc;
    padding-bottom: 40px;
    background: url("../images/zgxcw/CEO-bg.png") 0 0 no-repeat;
    background-size: 100% 100%;
}
.wechat-con {
    line-height: 24px;
}
.wechat-con span {
    float: left;
    line-height: 20px;
    padding: 0 120px;
    text-align: center;
}
.quote-icon {
    font-size: 50px;
    font-size: 5rem;
}
.quote-con {
    line-height: 20px;
    font-size: 14px;
    font-size: 1.4rem;
}
.wechat-introduce-btn {
    float: left;
    padding-right: 120px;
    margin-top: 30px;
}
.ceo-logo {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    background: url("../images/zgxcw/CEO-logo.png") center top no-repeat;
}
.zhuge-btn {
    display: inline-block;
    margin: 0 auto;
    padding: 5px 25px;
    border-radius: 50px;
    background-color: #3a89cc;
    color: #ffffff;
    font-family: "NotoSansHansRegular", "Microsoft YaHei";
}
.code-wrapper {
    width: 100%;
    padding: 40px 0;
}
.QR-code {
    width: 105px;
    height: 105px;
    margin: 0 auto 40px;
    border: 1px solid #999999;
}
#go-btn {
    text-align: center;
}
.copyright {
    position: relative;
    margin-top: 20px;
    color: #999999;
}
/* 六边形 */
.box {
    position: relative;
    width: 630px;
    margin: 100px auto;
}
.line-first, .line-second, .line-third {
    position: absolute;
}
.line-first {
    top: 0;
    left: 80px;
}
.line-second {
    top: 138px;
    left: 0;
}
.line-third {
    top: 276px;
    left: 80px;
}
.box-first, .box-second, .box-third, .overlay {
    width: 150px;
    height: 200px;
    overflow: hidden;
}
.box-first {
    transform: rotate(120deg);
    float: left;
    margin-left: 10px;
    -ms-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
}
.box-second {
    transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}
.box-third {
    transform: rotate(-60deg);
    background: no-repeat 50% center;
    background-size: 125% auto;
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}
.overlay {
    transition: all 250ms ease-in-out 0s;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
    line-height: 200px;
    color: #3d91d0;
    font-size: 16px;
    font-size: 1.6rem;
    font-family: "NotoSansHansRegular", "Microsoft YaHei";
}
.bg-opacity-light {
    opacity: 0.2;
}
.bg-opacity-deep {
    opacity: 0.3;
}
.company-name {
    background-color: #3d91d0;
    font-weight: bolder;
    color: #ffffff;
    font-size: 26px;
    font-size: 2.6rem;
}
@media screen and (max-width: 1024px) {
    section {
        padding: 20px 5%;
    }
    #solution .container >ul li {
        width: 100%;
    }
    #solution .innovations li {
        width: 50%;
    }
    #home .home-icons {
        width: 90%;
    }
    #business-bg .business-con .bus-text,
    #business-bg .business-con .bus-img {
        width: 100%;
        margin: 0;
    }
    /*#business-bg .bus-img.pull-left {
        background-image: url("../images/zgxcw/business-mobile-down.png");
    }
    #business-bg .bus-img.pull-right {
        background-image: url("../images/zgxcw/business-mobile-up.png");
    }*/
    #helped .help-text {
        width: 100%;
        float: left;
    }
    #helped .help-text p{
        padding: 0 10%;
    }
    #wechat-introduce .wechat-introduce-text-right {
        text-align: left;
    }
    #wechat-introduce .container{
        margin: 0 auto;
    }
    #wechat-introduce .wechat-introduce-text-right {
        text-align: right;
    }
    .bus-img img {
        margin: 0 auto;
    }
}
@media screen and (max-width: 768px) {
    section {
        padding: 20px 1%;
    }
    #solution .container >ul li {
        width: 100%;
    }
    #solution .innovations li {
        width: 50%;
    }
    #home .home-icons {
        width: 100%;
    }
    .box-first, .box-second, .box-third, .overlay {
        width: 100px;
        height: 150px;
    }
    .box-first {
        margin-left: 5px;
    }
    .line-second {
        top: 98px;
        left: 25px;
    }
    .line-third {
        top: 196px;
    }
    .overlay {
        line-height: 150px;
        font-size: 12px;
        font-size: 1.2rem;
    }
    #helped .help-img {
        width: 600px;
        margin: 15px auto;
    }
}
@media screen and (max-width: 640px) {
    .wechat-con span {
        padding: 0 10px;
    }
    .solution-content {
        width: 100%;
        margin-bottom: 0;
    }
    .solution-list {
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 576px) {
    section {
        padding: 20px 5%;
    }
    .container h2 {
        padding-left: 0;
        padding-right: 0;
    }
    #solution .container > ul li {
        width: 100%;
    }
    #solution .innovations li {
        width: 50%;
    }
    #home .home-icons {
        width: 100%;
    }
    #helped .help-text p, #solution .solution-tip p {
        padding-left: 0;
        padding-right: 0;
    }
    .box-first, .box-second, .box-third, .overlay {
        width: 100px;
        height: 150px;
    }
    .box-first {
        margin-left: 1px;
    }
    .line-first {
        left: 55px;
    }
    .line-second {
        top: 98px;
        left: 0px;
    }
    .line-third {
        top: 196px;
        left: 55px;
    }
    .overlay {
        line-height: 150px;
        font-size: 12px;
        font-size: 1.2rem;
    }
    #helped .help-img {
        width: 600px;
        margin: 15px auto;
    }
}
@media screen and (max-width: 414px) {
    #home .container {
        background-size: auto 280px;
    }
    .box-first, .box-second, .box-third, .overlay {
        width: 75px;
        height: 125px;
    }
    .line-first {
        left: 38px;
    }
    .line-second {
        top: 66px;
        left: 0px;
    }
    .line-third {
        top: 132px;
        left: 38px;
    }
    .overlay {
        line-height: 125px;
        font-size: 10px;
        font-size: 1rem;
    }
    #helped .help-img {
        width: 600px;
        margin: 15px 0 15px 11px;
        height: 250px;
    }
    .en-class {
        line-height: 100%!important;
        padding-top: 50px;
    }
    .solution-list {
        width: 100%;
    }
    .solution-list i {
        display: none;
    }
    .solution-list span {
        text-align: center;
        font-size: 16px;
        font-size: 1.6rem;
    }
}
@media screen and (max-width: 320px) {
    #home .container {
        background-size: auto 200px;
    }
    #helped .help-img {
        margin: 15px 0 15px -2px;
    }
}
@media screen and (max-width: 640px) {
    #home {
        padding-top: 48px;
    }
    #wechat-introduce .wechat-introduce-con {
        margin: 0 auto;
        width: 90%;
        padding: 0 5%;
    }
    #wechat-introduce .wechat-introduce-con p {
        padding: 0;
    }
    .zg-wechat {
        top: 0;
        left: 50%;
        margin-left: -66px;
        margin-top: 0;
    }
    #wechat-infroduce .wechat-introduce-btn {
        float: none;
    }
}
